@font-face {
  font-family: "Avenir";
  src: local("Avenir"),
    url("./fonts/Avenir-Book.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

.card {
  margin-left: 48px;
}
.card__title {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-top: 58px;
  size: 24px;
}

.card__content {
  /* display: flex; */
  position: absolute;
  width: 305px;
  text-align: right;
  padding-top: 16px;
  padding-left: 14px;
}
.card__contents {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  padding: 25px;
  margin-top: 14px;
  align-items: center;
  width: 305px;
  height: 300px;
  border-bottom: #fededd 4px solid;
}
.card__subtitle {
  margin-bottom: -10px;
  size: 16px;
  padding: 0%;
}

.card__description {
  margin-top: -10px;
  size: 12px;
}

.card__button {
  background: #ffffff;
  border: 1px solid #8c14fc;
  color: #8c14fc;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9px 15px;
  position: relative;
  width: 243px;
  height: 32px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 54px;
  margin-bottom: 32px;
}

.card__logo {
  width: 44px;
  height: 44px;
  margin-bottom: -9px;
  /* margin-top: 25px; */
}

.card__menu {
  left: 0px !important;
}

.menu {
  border: lightgray;
  width: 1px;
  height: 1px;
  background: gray;
  margin: 4px 8px;
  position: relative;
  padding: 1px;
}

.main_btn {
  border: 1px solid lightgray !important;
  background: white !important;
  border-radius: 3px;
}
.menu__list {
  position: absolute;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  left: 35px;
  top: -31px;
  border-radius: 3px;
}
.menu__list :hover {
  background-color: #b05efd;
  color: #ffffff;
}

.menu__item1 {
  color: black;
  padding-left: 8px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-content: right;
  border-radius: 3px;
}

.menu__item2 {
  color: #eb5757;
  padding-left: 8px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  border-radius: 3px;
}
.menu_icon {
  padding-right: 10px;
}
